.about {
    width: 100%;
    height: 180vh;
    height: 180vh;
    display: flex;
    flex-direction: column;
    animation: fade-in 1s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner {
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutBottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250vh;
    align-items: top;
    margin-top: 50px;
}

.education {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    height: 250px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    height: 250px;
}

.educationText {
    display: flex;
    flex-direction: column;
}

.about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.4px;
}

.about .aboutBottom h2 {
    margin-top: 50px;
    font-weight: 400;
    font-size: 40px;
    color: black;
    height: 30px;
    text-align: left;
    text-decoration: underline;
    margin-left: 160px;
}

.about .aboutBottom ul {
    font-weight: 400;
    color: black;
    height: 30px;
    text-align: left;
    margin-left: 160px;
}

.about .aboutBottom .education img {
    height: 109px;
    width: 570px;
    margin-left: 200px;
    margin-left: 200px;
    margin-top: 70px;
}

.about .skills {
    margin-right: 160px;
    display: flex;
    justify-content: right;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    height: 270px;
}

.about .skills .skillsText {
    margin-right: 100px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    height: 270px;
}

.about .skills .skillsText {
    margin-right: 100px;
}

.about .aboutBottom .skills .skillsImages {
    display: flex;
    flex-direction: row;
}

.about .aboutBottom .skills img {
    height: 100px;
    width: 100px;
    margin-top: 70px;
    margin-left: 10px;
}

.about .aboutBottom .skills .item .hidden {
    visibility: hidden;
    font-family: cursive;
    margin-left: 20px;
}

.about .aboutBottom .skills .item:hover .hidden {
    visibility: visible;
}

.activities {
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.activitiesText {
    display:flex;
    flex-direction: column;
    position:static;
    white-space: normal;
}

.activities p {
    margin-left: 160px;
}

.secondList {
    list-style-position: outside;
}

.about .aboutBottom .activities img {
    margin-left: 290px;
    margin-top: 20px;
    box-shadow: 0px 3px 10px black;
    height: 300px;
}

@media only screen and (max-width: 1300px) {
    
    .about .aboutBottom .activities img {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .about .aboutBottom .education img {
        display: none
    }
}

@media only screen and (max-width: 900px) {
    .about .aboutBottom .skills .item {
        display: none
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
  }