.contact {
    width: 100%;
    height: 90vh;
    display: flex;
    animation: fade-in 1s;
}

.contact .left {
    height: 100%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 3px 10px black);
    background-image: url('../assets/contact.PNG');
    transition: 0.5s ease;
}

.contact .left:hover {
    background-image: url('../assets/pfp.PNG');
    background-size: 600px;
}

.contact .right {
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .right .heading {
    display: flex;
    flex-direction: row;
}

.contact .right .heading a {
    width: 140px;
    height: 40px;
}

.contact .right h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 10;
    font-size: 50px;
    margin-left: 30px;
}

.contact .right .resumeButton {
    margin-left: 310px;
}

form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 30px;
}

form input {
    height: 40px;
    width: 700px;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
    box-shadow: 0px 3px 10px black;
}

form textarea {
    margin-top: 15px;
    height: 70px;
    width: 700px;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
    box-shadow: 0px 3px 10px black;
}

input::placeholder, textarea::placeholder {
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

form input:focus, textarea:focus {
    outline: none;
}

form label {
    margin-top: 15px;
    color: black;
}

.contact .right button {
    margin-top: 40px;
    width: 140px;
    height: 40px;
    border: none;
    background-color: #121619;
    color: whitesmoke;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 3px 10px black;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
  }