.navbar {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
    flex-direction: row;
}

.navbar .left {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.navbar .left h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 50;
    color: white;
}

.navbar .right {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

.navbar .right .reorderButton {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar .right svg {
    font-size: 40px;
}

.navbar #open {
    padding-left: 0px;
}

.navbar #open img {
    display: none;
}

.navbar #close img {
    display: inherit;
}

.navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
}

.navbar #close .hiddenLinks {
    display: none;
}

.navbar #open a {
    width: 70px;
    margin: 5px;
}

@media only screen and (max-width: 900px) {
    .navbar .right a {
        width: 70px;
    }

    .navbar .left {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar .right a {
        display: none;
    }

    .navbar .right {
        justify-content: flex-end;
        padding-right: 50px;
    }

    .navbar .right .reorderButton {
        display: inherit;
    }
}

@media only screen and (min-width: 600px) {
    .navbar .right .reorderButton {
        display: none;
    }

    .hiddenLinks {
        display: none;
    }

}