.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade-in 1s;
}

.projects .projectsTitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.4px;
}

.projectsList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.projectsItem {
    border-radius: 15px;
    width: 320px;
    height: 420px;
    margin: 20px;
    box-shadow: 0px 3px 15px black;
    background-color: white;
}

.projectsItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in;
    cursor: pointer;
    position: relative;
    animation: move-up 1s;
    bottom: 20px;
}

.projectsItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.projectsItem h1, .projectsItem p {
    text-align: center;
}

.projects button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 100px;
    width: 360px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 1300px) {
    .projectsList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .projectsList {
        grid-template-columns: 1fr;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
  }

@keyframes move-up {
    from {
        bottom: 0px;
    }
    to {
        bottom: 20px;
    }
}