.themes {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.themes button {
    background-color: hwb(223 40% 28%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
    outline: auto;
    outline-color: white;
    outline-style: solid;
}

.themes button p {
    display: none;
}

.openThemes {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    position: absolute;
    background-color: white;
}

#open .openThemes {
    display: inherit;
}

#close .openThemes {
    display: none;
}